
@import url(http://fonts.googleapis.com/css?family=Kameron:400,700);
  
body, html {
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(2,00,36,100), rgba(47,73,123,100));
}
.main{
 
    color: blueviolet;
}
.mainContainer{
    margin-top: 20px;
    height: 600px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}
.subContainer{
    margin-top: 30px;
    height: 350px;
    width: 200px;
    background-color:rgba(192,192,192,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 0 15px -7px #888;
    color: white;
    padding-right: 10px;
}
.imgHolder{
    margin-top: 30px;
    margin-left: 50px;
    height: 80px;
    width: 90px;
}
.imgHolder img{
    height: auto;
    width: 100%;

}
.header-main{
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
}
#mainTitle{
    /* text-align: center; */
    padding-left: 40px;
    color: #556da1;
    margin-top:40px;
    font-family: 'Segoe UI';
  
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li {
    font-size: 14px;
}
#pc{
    margin-top: 10px;
}
